<h2>Add Expense</h2>
<form id="addForm" name="addForm" novalidate >
    <label>Category</label>
    <select ng-model="expense.category" 
    ng-options="category for category in categories" ng-required="true">
    </select>
    <label>Amount:</label>
    <input type="number" ng-required="true" ng-model="expense.amount"/>
    <label>Description:</label>
    <input type="text" ng-pattern="/^[a-zA-Z 0-9]*$/" ng-model="expense.description"/>
    
    <input type="hidden" ng-model="expense.key"/>
    
    <button ng-disabled="addForm.$pristine || addForm.$dirty && addForm.$invalid" ng-click="submit()">Submit</button>
</form>